// @import "../core/variables.scss";
//p-overview

.p-overview {
    background: $bgColor;
}

.p-overview__content--title {
    margin-bottom: 8px;
    font-weight: normal;
}

.p-overview__content--guid {
    margin-top: 8px;
    font-weight: bold;
}

.p-overview__content--text {
    font-weight: normal;
}
