//*******************************
// breakpoint
//*******************************
$sp: "only screen and (max-width: 736px)";
$tab: "only screen and (min-width: 737px)";
$pc: "only screen and (min-width: 1112px)";

//*******************************
// contents width
//*******************************
$baseContentsWidth: 1112px;

//*******************************
// default color
//*******************************
$baseColor: #333333;

//*******************************
// text color, link color
//*******************************
$baseTextColor: #333333;
$linkTextColor: #333333;
$baseHoverColor: #4a90e2;
$baseActiveColor: #4a90e2;
$accentColor: #4a90e2;
$baseColorThin: #E7F0FC;
$bgColor: #F7F9FB;
$redColor: #FF0000;
$whiteColor: #FFFFFF;
$grayColor: #E4E4E4;
$baseVisitedColor: #333333;

//*******************************
// font size
//*******************************
$baseFontSize: 16px;
$baseLetterSpacing: 0;
$baseLineHeight: 1.75;

//*******************************
// fontfamily
//*******************************
$baseFontFamily: "Noto Sans JP", sans-serif;

